/* .section {
  background: #f3e5f5;
  padding: 20px;
}

.section h2 {
  text-align: center;
} */

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(6, 57, 224);
  color: white;
  text-align: center;
}