/* .header {
  background: #b71775;
  height: 200px;
}

.header h1 {
  margin: 0;
  padding-top: 75px;
  text-align: center;
  color: white;
  font-size: 3rem;
} */

.head h1 {
  text-align: center;
  background-image: url("../img/questionStar.gif");
  background-size: cover;
  min-height: 10vh;
  background-position: center;
  color: black;
}


