
.head{
  text-align: center;
  background-image: url("../img/questionStar.gif");
  background-size: cover;
  min-height: 10vh;
  background-position: center;
  color: black;
}

.color {
  background-color: rgb(6, 57, 224);
}

#size{
  font-size: 30px;
  color: black;
  font-weight:  bold;
}

#text {
  color: black;
  font-size: 20px;
  font-weight:  bold;
}

