#questions {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-top: 200px;
}

#options {
    text-align: center;
    margin: 90px;
    gap: 20px;
}

#scores {
    font-size: 100px;
    text-align: center;
    margin: 200px;

    
}